<html>
  <head>
    <title>Glance</title>
    <style>
      .like-pre {
        white-space: pre-wrap;
        font-family: monospace;
        display: block;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
